{% extends 'index.html' %}
{% block contents %}
<div class="services text-white mb-6">
    <h1 class="tracking-wider text-2xl font-medium mb-5">Our Services</h1>
    <div class="grid grid-cols-6 gap-8 text-center mx-auto">
        <div class="card text-center gap-2 flex-col bg-white text-black p-10 rounded-3xl">
            <span class="material-symbols-outlined bg-black py-2 px-3 text-3xl mb-4 rounded-lg text-white">
                groups
            </span>
            manage <br>
            employees
        </div>
        <div class="card text-center gap-2 flex-col bg-[#181818] text-white p-10 rounded-3xl">
            <span class="material-symbols-outlined bg-white py-2 px-3 text-3xl mb-4 rounded-lg text-black">
                groups
            </span> <br>
            task <br>
            manager
        </div>
        <div class="card text-center gap-2 flex-col bg-white text-black py-10 px-5 rounded-3xl">
            <span class="material-symbols-outlined bg-black py-2 px-3 text-3xl mb-4 rounded-lg text-white">
                groups
            </span>
            schedule <br>
            appointments
        </div>
        <div class="card text-center gap-2 flex-col bg-[#181818] text-white p-10 rounded-3xl">
            <span class="material-symbols-outlined bg-white py-2 px-3 text-3xl mb-4 rounded-lg text-black">
                groups
            </span>
            expense <br>
            analysis
        </div>
    </div>
</div>
<div class="insights text-white">
    <h1 class="tracking-wider text-2xl font-medium mb-5">Today's Insights</h1>
</div>
{% endblock contents %}