{% extends 'index.html' %}

{% block contents %}
<div class="task_manager text-white">
    <div class="flex justify-between mb-4">
        <h1 class="tracking-wider text-2xl font-medium mb-5">Manage Tasks</h1>
        <div class="flex gap-4 items-center">
            <a class="flex items-center py-1 px-4 text-[#82D800] rounded-md border border-[#82D800]"
                href="{% url 'task_add' %}">
                <span class="material-symbols-outlined">
                    add_task
                </span>Add
            </a>
        </div>
    </div>
    <div class="grid grid-cols-2">
        <div class="grid grid-cols-2 gap-3">
            <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
            <h1 class="tracking-wider text-xl col-span-2 font-medium mb-5 flex items-center text-center"><span
                    class="material-symbols-outlined text-red-600">
                    circle
                </span>In Progress</h1>
            {% for task in inprogress %}
            <div class="task bg-[#242424] rounded-lg py-4 px-8">
                <h1 class="tracking-wider text-lg font-normal mb-2 flex items-center">{{task.title}}</h1>
                <p class="text-base text-gray-300">{{task.description}}</p>
                <hr class="my-3">
                <div class="flex justify-between gap-4">
                    <p class="text-base text-gray-300">{{task.assigned_to}}</p>
                    <p class="text-base text-gray-300">{{task.due_datetime|date:"j/m/Y"}}</p>
                </div>
                <div class="grid grid-cols-2 text-center my-4">
                    <a href="{% url 'task_delete' task.id %}" class="border-r border-r-gray-600 cursor-pointer"><span
                            class="material-symbols-outlined text-red-500">
                            delete
                        </span></a>
                    <a href="{% url 'task_complete' task.id %}" class="cursor-pointer"><span class="material-symbols-outlined text-green-400">
                            done
                        </span></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="grid grid-cols-2 gap-3">
            <h1 class="tracking-wider col-span-2 text-xl font-medium mb-5 flex items-center"><span
                    class="material-symbols-outlined text-green-400">
                    circle
                </span>Completed</h1>
            {% for task in completed %}
            <div class="task bg-[#242424] rounded-lg py-4 px-8">
                <h1 class="tracking-wider text-lg font-normal mb-2 flex items-center">{{task.title}}</h1>
                <p class="text-base text-gray-300">{{task.description}}</p>
                <hr class="my-3">
                <div class="flex justify-between gap-4">
                    <p class="text-base text-gray-300">{{task.assigned_to}}</p>
                    <p class="text-base text-gray-300">{{task.due_datetime|date:"j/m/Y"}}</p>
                </div>
                <div class="text-center my-4 col-span-2">
                    <a href="{% url 'task_delete' task.id %}" class="cursor-pointer"><span class="material-symbols-outlined text-red-500">
                            delete
                        </span></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contents %}